<a href="https://colab.research.google.com/github/HrishavSaha/PRO-C134-FILTERING-STARS/blob/main/Sortlisting_Project_134.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
files.upload()

In [4]:
import pandas as pd
import plotly.express as plot

In [5]:
df = pd.read_csv('grav_data.csv')
df.shape[0]

71

In [6]:
df.head()

             name    distance          mass        radius       gravity
0             Sun    0.000016  3.956121e+60  4.839985e+17  1.126438e+15
1          Sirius    8.600000  8.307854e+60  8.276374e+17  8.089738e+14
2         Canopus  310.000000  5.934182e+61  3.436389e+19  3.351830e+12
3  Alpha Centauri    4.400000  4.351733e+60  5.807982e+17  8.604737e+14
4        Arcturus   37.000000  4.351733e+60  1.258396e+19  1.832962e+12

In [7]:
mass = (df['mass'] / 3.956121e+60) * 1.989e+30
radius = (df['radius'] / 4.839985e+17) * 6.957e+8
grav = []
for index in range(df.shape[0]):
  grav.append((float(mass[index])*6.674e-11) / (float(radius[index])*float(radius[index])) )

In [8]:
df = pd.DataFrame(list(zip(df['name'], df['distance'], mass, radius, grav)), columns=['name', 'distance', 'mass', 'radius', 'gravity'])
df.head()

             name    distance          mass        radius     gravity
0             Sun    0.000016  1.989000e+30  6.957000e+08  274.269173
1          Sirius    8.600000  4.176900e+30  1.189647e+09  196.971808
2         Canopus  310.000000  2.983500e+31  4.939470e+10    0.816115
3  Alpha Centauri    4.400000  2.187900e+30  8.348400e+08  209.511174
4        Arcturus   37.000000  2.187900e+30  1.808820e+10    0.446296

In [9]:
star_100_ly = df[df['distance']<=100]
star_100_ly.shape[0]

37

In [10]:
star_grav = star_100_ly[star_100_ly['gravity']>=150]
star_grav = star_grav[star_grav['gravity']<=350]
star_grav.shape[0]

7

In [14]:
star_grav.head(star_grav.shape[0])

              name   distance          mass        radius     gravity
0              Sun   0.000016  1.989000e+30  6.957000e+08  274.269173
1           Sirius   8.600000  4.176900e+30  1.189647e+09  196.971808
3   Alpha Centauri   4.400000  2.187900e+30  8.348400e+08  209.511174
12          Altair  17.000000  3.580200e+30  1.252260e+09  152.371763
18       Fomalhaut  25.000000  3.779100e+30  1.252260e+09  160.836861
46        Tau Ceti  11.900000  1.557387e+30  6.212601e+08  269.299682
47   Delta Pavonis  19.920000  1.971099e+30  8.487540e+08  182.612705

In [16]:
star_grav.to_csv('shortlisted_data.csv', index=False)